{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
    
{% endblock stylesheet %}

{% block content %}
    
    <!-- Menu -->
    <div>
        <ul class="m-3 shadow adminT p-3">
            <li class="h1">Administrar Tienda</li>
            <li class="fs-3"><a href="{% url 'Mantenedor_de_usuarios' %}">Mantenedor de Usuario</a></li>
            <li class="fs-3"><a href="{% url 'Mantenedor_de_Productos' %}">Mantenedor de Productos</a></li>
            <li class="fs-3"><a href="{% url 'Historial_Ventas' %}">Historial de venta</a></li>
            <li class="fs-3"><a href="{% url 'Mantenedor_de_Bodega' %}">Mantenedor de Bodega</a></li>
        </ul>
    </div>
    
{% endblock content %}

{% block script %}
        <!-- mi script -->
    <script src="js/carga_elementos.js"></script>
{% endblock script %}


