{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
    
{% endblock stylesheet %}

{% block content %}
    
    <!-- Menu -->
    <div>
        <ul class="m-3 shadow adminT p-3">
            <li class="h1">Administrar Tienda</li>
            <li class="fs-3"><a href="Mantenedor de usuarios.html">Mantenedor de Usuario</a></li>
            <li class="fs-3"><a href="Mantenedor de Productos.html">Mantenedor de Productos</a></li>
            <li class="fs-3"><a href="Historial de ventas.html">Historial de venta</a></li>
            <li class="fs-3"><a href="Mantenedor de bodega.html">Mantenedor de Bodega</a></li>
        </ul>
    </div>
    
{% endblock content %}




