{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
    
{% endblock stylesheet %}

{% block content %}
    
<div class="d-flex flex-column justify-content-between gap-5">

  <!-- Texto concurso -->

  <p class="text-center">
    !Concursa por una prenda de vestir!
    <br>
    Por Compras superiores a $20.000 en productos ya estás participando!
  </p>

  <!-- Grid -->

  <div class="container">
    <div id="grid" class="row">

    </div>
  </div>
</div>


    
{% endblock content %}







  
