<!-- Footer -->
<footer class="d-flex p-2 align-items-center justify-content-center">
    <ul class="nav">
        <li class="nav-item">
            <p>
                WhatsApp +56 9 5266 2566 &nbsp;
            </p>
        </li>
        <li class="nav-item">
            <p>
                Facebook &nbsp;
            </p>
        </li>
        <li class="nav-item">
            <p>
                Instagram &nbsp;
            </p>
        </li>
        <li>
            <p>
                Dirección: Moneda 627, Santiago &nbsp;
            </p>
        </li>
    </ul>
</footer>