{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
    
{% endblock stylesheet %}

{% block content %}
    
    <!-- Tabla -->
    <div class="m-3">
        <h2>Historial de Ventas</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Nro boleta</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Suscrito</th>
                    <th scope="col">Monto Total</th>
                    <th scope="col">Estado Actual</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Cambiar Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>425</td>
                    <td>1/1/2022</td>
                    <td>Claudio Parra</td>
                    <td>No</td>
                    <td>$15.000</td>
                    <td>Entregado</td>
                    <td>
                        <a href="{% url 'Detalle_Boleta' %}">Ver detalle</a>
                    </td>
                    <td>
                        <a href="">Anulado</a>
                        <a href="">Vendido</a>
                        <a href="">Despachado</a>
                        <a href="">Entregado</a>
                    </td>
                </tr>
                <tr>
                    <td>535</td>
                    <td>5/2/2022</td>
                    <td>Ronny Radke</td>
                    <td>Si</td>
                    <td>$10.000</td>
                    <td>Despachado</td>
                    <td>
                        <a href="{% url 'Detalle_Boleta' %}">Ver detalle</a>
                    </td>
                    <td>
                        <a href="">Anulado</a>
                        <a href="">Vendido</a>
                        <a href="">Despachado</a>
                        <a href="">Entregado</a>
                    </td>
                </tr>
                <tr>
                    <td>675</td>
                    <td>7/3/2022</td>
                    <td>Billy Joe Armstrong</td>
                    <td>No</td>
                    <td>$12.000</td>
                    <td>Vendido</td>
                    <td>
                        <a href="{% url 'Detalle_Boleta' %}">Ver detalle</a>
                    </td>
                    <td>
                        <a href="">Anulado</a>
                        <a href="">Vendido</a>
                        <a href="">Despachado</a>
                        <a href="">Entregado</a>
                    </td>
                </tr>
                <tr>
                    <td>734</td>
                    <td>2/4/2022</td>
                    <td>Elvis Pérez</td>
                    <td>No</td>
                    <td>$7.000</td>
                    <td>Entregado</td>
                    <td>
                        <a href="{% url 'Detalle_Boleta' %}">Ver detalle</a>
                    </td>
                    <td>
                        <a href="">Anulado</a>
                        <a href="">Vendido</a>
                        <a href="">Despachado</a>
                        <a href="">Entregado</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
{% endblock content %}


{% block script %}
    <!-- Mis Scripts -->
    <script src="{% static 'core/js/carga_elementos.js' %}"></script>
{% endblock script %}






