




{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
<style>
    .error {
        font-weight: bold;
        font-size: 14px;
    }
</style>

{% endblock stylesheet %}

{% block content %}
    
    
<div class="m-3">
    <div class="d-flex">
        <form id="formulario3" class="container  justify-content-center vh-100" enctype="multipart/form-data"  method="post">
            <h2>Mantenedor de Productos</h2>
            {% csrf_token %}
            {{ form.as_p }}

            {% comment %} <!-- ID -->
            <div class="mb-3">
                <div class="d-flex gap-4">
                    <label for="InputId" class="form-label">ID</label>
                    <div class="col-sm-2">
                        <input type="email" class="form-control" id="InputId" name="InputId">
                    </div>
                </div>
            </div>
            


            <!-- Categoría -->
            <div class="mb-3">
                <div class="d-flex gap-4">
                    <label for="exampleFormControlInput1" class="form-label">Categoría</label>
                    <select class="form-select " aria-label="Default select example" id="select" name="select" style="width: 200px"  >
                        <option selected></option>
                        <option value="1">Perros</option>
                        <option value="2">Gatos</option>
                        <option value="3">Aves</option>
                    </select>
                </div>
            </div>

            <!-- nombre -->
            <div class="mb-3">
                <div class="d-flex gap-4">
                    <label for="InputId" class="form-label">Nombre Producto</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="InputNombre" name="InputNombre">
                    </div>
                </div>
            </div>

            <!--Precio -->
            <div class="mb-3">
                <div class="d-flex gap-4">
                    <label for="InputPrecio" class="form-label">Precio</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="InputPrecio" name="InputPrecio">
                    </div>
                </div>
            </div>

            <!-- Descripción -->
            <div class="mb-3">
                <div class="d-flex gap-4">
                    <label for="InputDireccion" class="form-label">Descripción</label>
                    <textarea class="form-control" type="text" id="InputDescripción" name="InputDescripción" rows="3"></textarea>
                </div>
            </div>
            <!-- estado -->
            <div class="mb-3">
                <div class="d-flex gap-4">
                    <label for="InputDscSuscriptor" class="form-label">Estado</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="InputEstado" name="InputEstado">
                    </div>
                </div>
            </div>
            <!-- Descuento Subscriptor -->
            <div class="mb-3">
                <div class="d-flex gap-4">
                    <label for="InputDscSuscriptor" class="form-label">Descuento Subscriptor %</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="InputDscSuscriptor" name="InputDscSuscriptor">
                    </div>
                </div>
            </div>
            <!-- Descuento por oferta -->
            <div class="mb-3">
                <div class="d-flex gap-4">
                    <label for="InputDscOferta" class="form-label">Descuento por oferta %</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="InputDscOferta" name="InputDscOferta">
                    </div>
                </div>
            </div> {% endcomment %}
            <!-- Botones -->
            <div class="d-flex gap-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="submit" class="btn btn-primary">Nuevo</button>
                <button type="reset" class="btn btn-primary">Eliminar</button>
            </div>
            
            {% comment %} Tabla {% endcomment %}

            <div class="m-3">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">% Desc Subscriptor</th>
                            <th scope="col">% Desc Oferta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>27</td>
                            <td>Perros</td>
                            <td>Saco alimento Royal Canin</td>
                            <td>Saco Royal Canin de 3 Kilos</td>
                            <td>$8.000</td>
                            <td>5%</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>28</td>
                            <td>Gato</td>
                            <td>Saco alimento Don Cuchito</td>
                            <td>Saco alimento Don Cuchito de 1 Kilo</td>
                            <td>$2.000</td>
                            <td>5%</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>29</td>
                            <td>Perros</td>
                            <td>Saco alimento Royal Canin</td>
                            <td>Saco Royal Canin de 3 Kilos</td>
                            <td>$8.000</td>
                            <td>5%</td>
                            <td>2%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
    
{% endblock content %}

{% block script %}
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- JQuery Validate -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Mis scripts -->
    <script src="{% static 'core/js/carga_elementos.js' %}"></script>
    <script src="{% static 'core/js/valida_registro.js' %}"></script>
{% endblock script %}