{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}
<style>
    .error {
        font-size: 14px;
        font-weight: bold;
    }
</style>

{% endblock stylesheet %}

{% block content %}
    
        <!-- Form -->
        <div class="m-3">
            
            <div class="d-flex-column justify-content-center">
                <form id="formulario1" class="container  justify-content-center" enctype="multipart/form-data"  method="post" action="{% url 'Mantenedor_de_usuarios' %}">
                    <h2>Mantenedor de Usuarios</h2>

                    {% csrf_token %}
                    {{ form.as_p }}

                    {% comment %} <!-- ID -->
                    <div class="mb-3">
                        <div class="d-flex gap-4">
                            <label for="InputId" class="form-label">ID</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="InputId" name="InputId" >
                            </div>
                        </div>
                    </div>
                    <!-- Tipo de Usuario -->
                    <div class="mb-3">
                        <div class="d-flex gap-4">
                            <p>Tipo de Usuario</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Cliente
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Administrador
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- R.U.T -->
                    <div class="mb-3">
                        <div class="d-flex gap-4">
                            <label for="InputRut" class="form-label">R.U.T</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="InputRut" name="InputRut">
                            </div>
                        </div>
                    </div>
                    <!-- Nombres -->
                    <div class="mb-3">
                        <div class="d-flex gap-4">
                            <label for="InputNombres" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="InputNombres" name="InputNombres">
                        </div>
                    </div>
                    <!-- Apellidos -->
                    <div class="mb-3">
                        <div class="d-flex gap-4">
                            <label for="InputApellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="InputApellidos" name="InputApellidos">
                        </div>
                    </div>
                    <!-- Correo -->
                    <div class="mb-3">
                        <div class="d-flex gap-4">
                            <label for="InputCorreo" class="form-label">Correo</label>
                            <input type="text" class="form-control" id="InputCorreo" name="InputCorreo">
                        </div>
                    </div>
                    <!-- Descripción -->
                    <div class="mb-3">
                        <div class="d-flex gap-4">
                            <label for="InputDireccion" class="form-label">Dirección</label>
                            <textarea class="form-control" type="text" id="InputDireccion" name="InputDireccion" rows="3"></textarea>
                        </div>
                    </div>
                    <!-- Con Subscripción -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Deseo subscribirme con un aporte de $3000 mensuales a la Fundación "Mascotas Felices" y obtener
                            un 5% de descuento en mis compras.
                        </label>
                    </div>
                    <!-- Contraseña -->
                    <div class="mb-3">
                        <div class="d-flex gap-4">
                            <label for="InputContraseña" class="form-label">Password</label>
                            <input type="password" class="form-control" id="InputContraseña" name="InputContraseña">
                            <button type="submit" class="btn btn-primary">Generar Contraseña</button>
                        </div>
                    </div> {% endcomment %}
                    <!-- Botones -->
                    <div class="d-flex gap-4">
                        <button type="submit" class="btn btn-primary" name="action" value="guardar" >Actualizar</button>
                        <button type="submit" class="btn btn-primary" name="action" value="nuevo">Crear Usuario</button>
                        <button type="submit" class="btn btn-primary" name="action" value="eliminar">Eliminar</button>
                    </div>       
                </form>

                {% if usuarios %}

                    <div class="m-3">
                        <table class="container justify-content-center table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tipo Usuario</th>
                                    <th scope="col">R.U.T</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Con Subscripción</th>
                                    <th scope="col">Imágen</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for usuario in usuarios %}
                                <tr>
                                    <td>
                                        {{ usuario.id }}
                                    </td>
                                    <td>
                                        {{ usuario.perfil.tipo_usuario }}
                                    </td>
                                    <td>
                                        {{ usuario.perfil.rut }}
                                    </td>
                                    <td>
                                        {{ usuario.first_name }}
                                    </td>
                                    <td>
                                        {{ usuario.last_name }}
                                    </td>
                                    <td>
                                        {{ usuario.email }}
                                    </td>
                                    <td>
                                        {{ usuario.perfil.direccion }}
                                    </td>
                                    {% if usuario.perfil.subscrito %}
                                        <td>
                                            <p>Si</p>
                                        </td>
                                    {% else %}
                                        <td>
                                            <p>No</p>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <img src="/media/{{ usuario.perfil.imagen }}" class="img-thumbnail" width="75px" height="75px" alt="">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                
                {% endif %}

            </div>
        </div>
    
{% endblock content %}

{% block script %}
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- JQuery Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Mis scripts -->
    <script src="{% static 'core/js/carga_elementos.js' %}"></script>
    <script src="{% static 'core/js/valida_mantenedor_usuario.js' %}"></script>
{% endblock script %}
