  {% extends 'core/base.html' %}

  {% load static %}
  
  {% block stylesheet %}
      
  {% endblock stylesheet %}
  
  {% block content %}
      
  <div class="p-3">
    <h2 class="fs-1">Ficha de producto</h2>
    <div class="shadow container d-flex align-items-center justify-content-center">
      <div class=" col-6 text-center p-5">
        <img src="{% static 'core/images/question_mark.png' %}" class="img-fluid" alt="Descripción de la imagen">
      </div>
      <div class="col-6 p-2 ">
        <div>
          <div class="fs-1">
            Saco de alimento Master Cat
          </div>
          <div class="fw-bold text-primary">
            EN OFERTA 25% DE DESCUENTO
          </div>

          <div class="lead">
            <scan class="sale-real-price fw-bold">
              $8.000
            </scan>
            <scan class="precio">
              $6.000
            </scan>

          </div>
          <p class="descripcion">
            Descripción:
            <br><br>
            Master Cat, 3kg, sabor a carne, adulto
            <br><br>
            En stock: 5 unidades
          </p>
          <br>
          <br>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              <div class="btn-group gap-3">
                <a class="btn btn-primary" type="submit" href="{% url 'carritoCompras' %}">Comprar ahora</a>
                <a class="btn btn-primary" type="submit" href="{% url 'carritoCompras' %}">Agregar al carrito</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% endblock content %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <!-- Mis scripts -->
  <script src="JS/carga_elementos.js"></script>
{% endblock script %}