


{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}
    
    
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="royalCanin.html" class="p-3 shadow d-flex flex-column align-items-center nav-link">
                <img src="{% static 'core/images/question_mark.png %}" alt="Example Image" width="300px">
                <p class="text-success"> Disponible<br />
                    $8000<br />
                    Saco de alimento Royal Canin<br />
                    Descripcion:<br />
                    Royal Canin, 3 kg, sabor a pavo, adulto<br /></p>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="masterCat.html" class="p-3 shadow d-flex flex-column align-items-center nav-link">
                <img src="{% static 'core/images/question_mark.png %}" alt="Example Image" width="300px">
                <p class="text-primary"> EN OFERTA<br />
                    <span class="text-decoration-line-through">$8.000</span>$7.000<br />
                    Saco de alimento Master Cat<br />
                    Descripcion:<br />
                    Master Cat, 3 kg, sabor a carne, adulto<br />
                </p>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="donCuchito.html" class="p-3 shadow d-flex flex-column align-items-center nav-link">
                <img src="{% static 'core/images/question_mark.png %}" alt="Example Image" width="300px">
                <p class="text-danger"> AGOTADO<br />
                    $3.000<br />
                    Saco de alimento Don Cuchito<br />
                    Descripcion:<br />
                    Don Cuchito, 1 kg, sabor pescado, adulto<br /></p>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="#" class="p-3 shadow d-flex flex-column align-items-center nav-link">
                <img src="{% static 'core/images/question_mark.png %}" alt="Example Image" width="300px">
                <p> DISPONIBLE<br />
                    $8.000 <br />
                    Saco de alimento Doraemon<br />
                    Descripcion:<br />
                    Doraemon, 3 kg, sabor a pavo, adulto<br /></p>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="#" class="p-3 shadow d-flex flex-column align-items-center nav-link">
                <img src="{% static 'core/images/question_mark.png %}" alt="Example Image" width="300px">
                <p> AGOTADO<br />
                    $3.000 <br />
                    Saco de alimento Don Gato<br />
                    Descripcion:<br />
                    Don Gato, 1 kg, sabor carne, adulto<br /></p>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <a href="#" class="p-3 shadow d-flex flex-column align-items-center nav-link">
                <img src="{% static 'core/images/question_mark.png' %}" alt="Example Image" width="300px">
                <p> DISPONIBLE<br />
                    $8.000 <br />
                    Saco de alimento Tom y Jerry<br />
                    Descripcion:<br />
                    Tom y Jerry, 3 kg, sabor pescado, adulto<br /></p>
            </a>
        </div>
    </div>
        </div>
</div>
    
{% endblock content %}

{% block script %}
    <!-- Mis scripts -->
    <script src="{% static 'core/js/carga_elementos.js' %}"></script>
{% endblock script %}