<!-- Navbar  -->
<nav class="d-flex p-2 align-items-center justify-content-between sticky-top" style="background-color: #3f464d;">
    <h1 class="text-light">PetShop</h1>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="index.html">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="misdatos.html">Mis Datos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="comprasAnteriores.html">Mis compras anteriores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="ingreso.html">Ingresar</a>
           </li>
        <li>
            <a class="nav-link text-light" href="ingreso.html">Cerrar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="admsTienda.html">Administrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="registro.html">Registrarse</a>
        </li>
        <li>
            <a class="nav-link text-light" href="carritoCompras.html">
                <div class="d-flex">
                    <p>2</p>
                    <img src="IMG/shopping_Cart.png" style="width: 30px; height: 30px;" alt="carrito de compras">
                </div>
            </a>
        </li>
    </ul>
</nav>