<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PetShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <!-------------------------------------NAVEGATION BAR------------------------------>
    <div id="navbar">

    </div>

    <div class="p-5">
        <h1 class="p-1">Nosotros</h1>
        <p>
            PetShop es la tienda online más completa para mascotas creada por pet lovers para pet lovers!. Somos la
            tienda
            en línea de mascotas con mayor variedad de productos y servicios a domicilio, contamos con más de 4.000
            productos (alimentos, dietas naturales, snacks, medicinas, higiene y accesorios)
            <br>
            <br>
            Nuestro emprendimiento es sin fines de lucro, y estamos dedicados a la manutención de animales en peligro de
            maltrato..
            <br>
            <br>
            Siempre estamos preocupados por la salud y bienestar de tus mascotas y las que cuidamos. en nuestra
            fundación.
            <br>
            <br>
            Tanto tu mascota como las que acogemos son lo más importante para nosotros. Nos esforzamos día a día por dar
            la
            mejor experiencia y servicio a los pet lovers y para que a tus peluditos no les falte nada para su cuidado y
            salud.
            <br>
            <br>
            En Chile, llegamos a todo Santiago y próximamente estaremos con cobertura nacional. Tenemos entregas el
            mismo
            día en 3 rutas diferentes para que elijas la que más te conviene, si pides antes de las 5pm te llega el
            mismo
            día. También tenemos envíos nacionales con tiempos de entrega de 3 días hábiles. Contamos con todos los
            métodos
            de pago: efectivo, datafono, pagos online y lo más importante con muy buenos precios.
            <br>
            <br>
            Desde PetShop apoyamos y colaboramos orgánicamente y de forma activa con el rescate y adopción animal, es
            por
            esto que donamos la mayor parte de nuestras ventas mensualmente a esta causa. Para nosotros es primordial la
            integridad y bienestar de las mascotas, y por esto te invitamos a subscribirte con una cuota mensual de
            $3.000 y
            con ello obtener un 5% de descuento en todas tus compras.
            <br>
            <br>
            Te deseamos la mejor experiencia en nuestra tienda.
        </p>
    </div>

    <div class="container d-flex justify-content-around">
        <div class="border border-black d-flex justify-content-center align-items-center"
            style="width: 200px; height: 200px;">
            <img src="img/question_mark.png" alt="" style="max-width: 100%; max-height: 100%;">

        </div>
        <div class="border border-black d-flex justify-content-center align-items-center"
            style="width: 200px; height: 200px;">
            <img src="img/question_mark.png" alt="" style="max-width: 100%; max-height: 100%;">

        </div>
        <div class="border border-black d-flex justify-content-center align-items-center"
            style="width: 200px; height: 200px;">
            <img src="img/question_mark.png" alt=""
                style="max-width: 100%; max-height: 100%;">

        </div>


    </div>

    <div class="container d-flex justify-content-around">
        <div class="p-2 d-flex justify-content-center align-items-top text-center" style="width: 200px; height: 200px;">
            Samuel Bonilla
            <br>
            Sa.bonilla@duocuc.cl

        </div>
        <div class="p-2 d-flex justify-content-center align-items-top text-center" style="width: 200px; height: 200px;">
            Carlos Uribe
            <br>
            Carl.uribe@duocuc.cl

        </div>
        <div class="p-2 d-flex justify-content-center align-items-top text-center" style="width: 200px; height: 200px;">
            Alonso González
            <br>
            Alon.gonzalezm@duocuc.cl

        </div>


    </div>

    <!-- Footer -->
    <div id="footer">

    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <!-- Mis scripts -->
    <script src="JS/carga_elementos.js"></script>
</body>

</html>