
{% extends 'core/base.html' %}

{% load static %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block content %}

<div class="p-2">
  <h2 class="fs-1">Ficha de producto</h2>
  <div class="shadow container d-flex align-items-center justify-content-center">
    <div class=" col-6 text-center p-5">
      <img src="{% static 'core/images/question_mark.png' %}" class="img-fluid" alt="Descripción de la imagen">
    </div>
    <div class="col-6 p-2">
      <div>
        <div class="fs-1">
          Saco de alimento Royal Canin
        </div>
        <div class="fw-bold text-success">
          DISPONIBLE EN BODEGA
        </div>
        <div class="precio">
          $8.000
        </div>
        <div class="descripcion">
          Descripción:
          <br><br>
          Royal canin, 3kg, sabor a pavo, adulto
          <br><br>
          En stock: 3 unidades
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-start align-items-center">
          <div class="btn-group gap-3">
            <a class="btn btn-primary" type="submit" href="{% url 'carritoCompras' %}">Comprar ahora</a>
            <a class="btn btn-primary" type="submit" href="{% url 'carritoCompras' %}">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
    <script src="JS/carga_elementos.js"></script>
{% endblock script %}
